
/*
     FILE ARCHIVED ON 11:26:34 Jul 25, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:02:17 Apr 17, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 86.13 (3)
  esindex: 0.007
  captures_list: 101.286
  CDXLines.iter: 9.822 (3)
  PetaboxLoader3.datanode: 545.093 (5)
  exclusion.robots: 0.134
  exclusion.robots.policy: 0.123
  RedisCDXSource: 2.919
  PetaboxLoader3.resolve: 709.868 (2)
  load_resource: 1212.604
*/